@charset "utf-8";

header {
  background-color: #F5F5F5;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 2px solid #ccc;
}

.descript {
  font-size: 18px;
  display: flex;
  margin: auto;
}

.app-main {
  padding: 10px 30px;
}
.image-area img {
  width: 400px;
  height: 260px;
  object-fit: cover;
}
.app-main button {
  color: #fff;
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  float: right;
}